# FGNET-LOPO EDA

In [3]:
import cv2
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [6]:
df_fgnet_lopo = pd.read_csv("data/FGNet-LOPO.csv")
df_fgnet_lopo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Columns: 112 entries, b1 to Gender_0M_1F
dtypes: float64(109), int64(3)
memory usage: 876.9 KB

In [7]:
df_fgnet_lopo.head()

,b1,b2,b3,b4,b5,b6,b7,b8,b9,b10,...,b103,b104,b105,b106,b107,b108,b109,age,ID,Gender_0M_1F
0,0.585770,-0.075982,-0.276594,0.076490,0.189404,-0.152451,0.003264,-0.366677,0.148862,-0.078316,...,-0.007170,0.012785,0.014379,-0.032976,-0.005910,0.015997,-0.002833,5,1,0
1,0.117512,-0.344377,0.413923,-0.088210,0.152117,-0.020675,-0.085257,-0.122578,0.085524,-0.035403,...,-0.024755,0.006724,0.014217,0.001321,-0.005616,-0.018197,-0.000073,8,1,0
2,0.248636,-0.209122,0.516829,-0.124100,-0.002087,0.165375,-0.033023,0.035212,0.156937,-0.028065,...,-0.035687,0.023377,0.028616,-0.009582,-0.020722,0.003676,-0.015716,10,1,0
3,0.136742,-0.095098,0.428192,-0.125278,-0.117103,0.080187,0.109120,-0.068001,0.185257,-0.001298,...,0.020454,0.021750,0.006348,-0.006021,-0.005336,0.002317,-0.014843,14,1,0
4,-0.371003,-0.164112,0.431468,-0.163736,-0.217533,0.083152,-0.053181,-0.169808,0.178207,-0.000211,...,0.007863,0.008738,0.002282,-0.021130,-0.009988,-0.016178,-0.003646,16,1,0

In [8]:
df_fgnet_lopo.columns

Index(['b1', 'b2', 'b3', 'b4', 'b5', 'b6', 'b7', 'b8', 'b9', 'b10',
       ...
       'b103', 'b104', 'b105', 'b106', 'b107', 'b108', 'b109', 'age', 'ID',
       'Gender_0M_1F'],
      dtype='object', length=112)